/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(125deg, #6bc6d0, #0788be);
    color: #fff;
    line-height: 1.6;
}

/* Navigation Styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    /*background: linear-gradient(125deg, #6bc6d0, #2ba6b4); */
}

nav h3 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

nav h3 span {
    font-weight: 300;
    color: #f0f8ff;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
    color: #ffebcd;
    transform: scale(1.1);
}

/* Header Title Styling */
.content h1 {
    text-align: center;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
}

/* Team Section Styling */
.team {
    display: flex;
    justify-content: center;
    padding: 50px 5%;
    /*background: linear-gradient(125deg, #6bc6d0, #0788be); */
}

/* Adjusting About Container */
.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.about-image img {
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-text {
    max-width: 600px;
    text-align: justify;
}

/* Styling Map Container */
.map-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.map-container iframe {
    max-width: 60%;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}



/* Footer Styling */
footer {
    background-color: #0788be;
    padding: 20px;
    color: white;
    text-align: center;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

footer .social-links {
    list-style: none;
    display: flex;
}

footer .social-links li {
    margin: 0 10px;
}

footer .social-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}

footer .social-links a:hover {
    color: #ffebcd;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .team {
        flex-direction: column;
        align-items: center;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .about-text {
        padding: 0 20px;
    }

    footer .footer-content {
        flex-direction: column;
        align-items: center;
    }

    footer .social-links {
        margin-top: 10px;
    }
}
